<aside class="sidebar">

    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <h2>RENOVA</h2>
    </div>

    <ul class="menu">

        <li><a href="/admin/dashboard"><i class='bx bxs-dashboard'></i>Panel Admin</a></li>

        <li><a href="/docente/dashboard"><i class='bx bxs-chalkboard'></i>Panel Docente</a></li>

        <li><a href="/estudiante/dashboard"><i class='bx bxs-graduation'></i>Panel Estudiante</a></li>

        <li><a href="/admin/cursos"><i class='bx bxs-book'></i>Cursos</a></li>

        <li><a href="/admin/usuarios"><i class='bx bxs-user'></i>Usuarios</a></li>

        <li><a href="/admin/certificados"><i class='bx bxs-certification'></i>Certificados</a></li>

        <li><a href="/admin/mensajes"><i class='bx bxs-message-detail'></i>Mensajes</a></li>

        <li><a href="/logout"><i class='bx bx-log-out'></i>Cerrar sesión</a></li>

    </ul>

</aside>