<aside class="sidebar">

    <div class="logo">
        <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        alt="Instituto Renova">

        <h2>RENOVA</h2>
    </div>

    <ul class="menu">

        <li>
            <a href="{{ url_for('estudiante.dashboard') }}">
                <i class='bx bxs-dashboard'></i>
                Panel Estudiante
            </a>
        </li>

        <li>
            <a href="{{ url_for('estudiante.dashboard') }}">
                <i class='bx bxs-book-open'></i>
                Mis Cursos
            </a>
        </li>

        <li>
            <a href="{{ url_for('estudiante.calificaciones') }}">
                <i class='bx bxs-star'></i>
                Calificaciones
            </a>
        </li>

        <li>
            <a href="{{ url_for('estudiante.mensajes') }}">
                <i class='bx bxs-message-detail'></i>
                Mensajes
            </a>
        </li>

        <li>
            <a href="{{ url_for('estudiante.certificados') }}">
                <i class='bx bxs-certification'></i>
                Certificados
            </a>
        </li>

        <li>
            <a href="{{ url_for('auth.logout') }}">
                <i class='bx bx-log-out'></i>
                Cerrar sesión
            </a>
        </li>

    </ul>

</aside>